<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des commandes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="category-buttons">
        <button class="btn btn-primary" onclick="window.location.href='/pommes'">Pommes</button>
        <button class="btn btn-success" onclick="window.location.href='/poires'">Poires</button>
        <button class="btn btn-warning" onclick="window.location.href='/jus'">Jus</button>
        <button class="btn btn-info" onclick="window.location.href='/autres'">Autres produits</button>
    </div>

    <button class="btn btn-danger new-order-btn" onclick="window.location.href='/nouvelle-commande'">Nouvelle commande</button>

    <a href="/panier" class="btn btn-info panier-btn">Voir le panier</a>
    <a href="/historique-commandes" class="btn btn-info mt-4">Voir l'historique des commandes</a>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
